{%extends 'dash/layout.html'%} 
{%load static%}
{%block body%}
<h1 class="pt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><h6>Reporte en tablas</h6></li>
</ol>
{%for valor in tablita%}
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    {%if valor == "datatable1"%} 
    Productos por actualizar 
    {%elif valor == "datatable2"%} 
    Productos actualizados 
    {%elif valor == "datatable3"%}
    Productos creados 
    {%endif%}
  </div>
  <div class="card-body">
    <table id="{{valor}}" class="display">
      <thead>
        <tr>
          <th>Tienda</th>
          <th>Fashion</th>
          <th>Kids</th>
          <th>BeautyHealth</th>
          <th>HouseHome</th>
          <th>Electro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>6pm</td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaFashion.1}} 
            {%elif valor == "datatable2"%} 
            {{listaFashion.8}} 
            {%elif valor == "datatable3"%}
            {{listaFashion.15}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaKids.1}} 
            {%elif valor == "datatable2"%} 
            {{listaKids.8}} 
            {%elif valor == "datatable3"%}
            {{listaKids.15}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaBeautyHealth.1}} 
            {%elif valor == "datatable2"%}
            {{listaBeautyHealth.8}}
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.15}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaHouseHome.1}}
            {%elif valor == "datatable2"%}
            {{listaHouseHome.8}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.15}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaElectro.1}}
            {%elif valor == "datatable2"%}
            {{listaElectro.8}}
            {%elif valor == "datatable3"%}
            {{listaElectro.15}}
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>Amazon</td>
          <td>
            {%if valor == "datatable1"%}
            {{listaFashion.2}}
            {%elif valor == "datatable2"%}
            {{listaFashion.9}}
            {%elif valor == "datatable3"%}
            {{listaFashion.16}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaKids.2}}
            {%elif valor == "datatable2"%}
            {{listaKids.9}}
            {%elif valor == "datatable3"%}
            {{listaKids.16}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaBeautyHealth.2}}
            {%elif valor == "datatable2"%}
            {{listaBeautyHealth.9}}
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.16}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaHouseHome.2}}
            {%elif valor == "datatable2"%}
            {{listaHouseHome.9}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.16}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaElectro.2}}
            {%elif valor == "datatable2"%}
            {{listaElectro.9}}
            {%elif valor == "datatable3"%}
            {{listaElectro.16}}
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>Ebay</td>
          <td>
            {%if valor == "datatable1"%}
            {{listaFashion.3}}
            {%elif valor == "datatable2"%}
            {{listaFashion.10}}
            {%elif valor == "datatable3"%}
            {{listaFashion.17}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaKids.3}}
            {%elif valor == "datatable2"%}
            {{listaKids.10}}
            {%elif valor == "datatable3"%}
            {{listaKids.17}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaBeautyHealth.3}}
            {%elif valor == "datatable2"%}
            {{listaBeautyHealth.10}}
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.17}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaHouseHome.3}} 
            {%elif valor == "datatable2"%} 
            {{listaHouseHome.10}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.17}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaElectro.3}} 
            {%elif valor == "datatable2"%} 
            {{listaElectro.10}} 
            {%elif valor == "datatable3"%}
            {{listaElectro.17}} 
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>Footlocker</td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaFashion.4}} 
            {%elif valor == "datatable2"%}
            {{listaFashion.11}}
            {%elif valor == "datatable3"%}
            {{listaFashion.18}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaKids.4}}
            {%elif valor == "datatable2"%} 
            {{listaKids.11}} 
            {%elif valor == "datatable3"%}
            {{listaKids.18}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaBeautyHealth.4}}
            {%elif valor == "datatable2"%} 
            {{listaBeautyHealth.11}} 
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.18}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaHouseHome.4}}
            {%elif valor == "datatable2"%}
            {{listaHouseHome.11}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.18}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaElectro.4}}
            {%elif valor == "datatable2"%}
            {{listaElectro.11}}
            {%elif valor == "datatable3"%}
            {{listaElectro.18}}
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>Nike</td>
          <td>
            {%if valor == "datatable1"%}
            {{listaFashion.5}}
            {%elif valor == "datatable2"%}
            {{listaFashion.12}}
            {%elif valor == "datatable3"%}
            {{listaFashion.19}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaKids.5}}
            {%elif valor == "datatable2"%} 
            {{listaKids.12}}
            {%elif valor == "datatable3"%}
            {{listaKids.19}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaBeautyHealth.5}}
            {%elif valor == "datatable2"%}
            {{listaBeautyHealth.12}}
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.19}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaHouseHome.5}}
            {%elif valor == "datatable2"%}
            {{listaHouseHome.12}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.19}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaElectro.5}} 
            {%elif valor == "datatable2"%} 
            {{listaElectro.12}} 
            {%elif valor == "datatable3"%}
            {{listaElectro.19}}
            {%endif%}
          </td>
        </tr>
        <tr>
          <td>Zappos</td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaFashion.6}} 
            {%elif valor == "datatable2"%} 
            {{listaFashion.13}} 
            {%elif valor == "datatable3"%}
            {{listaFashion.20}} 
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%} 
            {{listaKids.6}} 
            {%elif valor == "datatable2"%}
            {{listaKids.13}}
            {%elif valor == "datatable3"%}
            {{listaKids.20}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaBeautyHealth.6}}
            {%elif valor == "datatable2"%}
            {{listaBeautyHealth.13}}
            {%elif valor == "datatable3"%}
            {{listaBeautyHealth.20}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaHouseHome.6}}
            {%elif valor == "datatable2"%}
            {{listaHouseHome.13}}
            {%elif valor == "datatable3"%}
            {{listaHouseHome.20}}
            {%endif%}
          </td>
          <td>
            {%if valor == "datatable1"%}
            {{listaElectro.6}}
            {%elif valor == "datatable2"%}
            {{listaElectro.13}}
            {%elif valor == "datatable3"%}
            {{listaElectro.20}}
            {%endif%}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><b>General</b></td>
          <td>
            <b>
              {%if valor == "datatable1"%}
              {{listaFashion.0}}
              {%elif valor == "datatable2"%} 
              {{listaFashion.7}}
              {%elif valor == "datatable3"%}
              {{listaFashion.14}}
              {%endif%}
            </b>
          </td>
          <td>
            <b>
              {%if valor == "datatable1"%}
              {{listaKids.0}}
              {%elif valor == "datatable2"%}
              {{listaKids.7}}
              {%elif valor == "datatable3"%}
              {{listaKids.14}}
              {%endif%}
            </b>
          </td>
          <td>
            <b>
              {%if valor == "datatable1"%}
              {{listaBeautyHealth.0}}
              {%elif valor == "datatable2"%}
              {{listaBeautyHealth.7}}
              {%elif valor == "datatable3"%}
              {{listaBeautyHealth.14}}
              {%endif%}
            </b>
          </td>
          <td>
            <b>
              {%if valor == "datatable1"%}
              {{listaHouseHome.0}}
              {%elif valor == "datatable2"%} 
              {{listaHouseHome.7}} 
              {%elif valor == "datatable3"%}
              {{listaHouseHome.14}} 
              {%endif%}
            </b>
          </td>
          <td>
            <b>
              {%if valor == "datatable1"%}
              {{listaElectro.0}}
              {%elif valor == "datatable2"%} 
              {{listaElectro.7}}
              {%elif valor == "datatable3"%}
              {{listaElectro.14}}
              {%endif%}
            </b>
          </td>
        </tr>
      </tfoot>
    </table>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#{{valor}}").DataTable({});
      });
    </script>
  </div>
</div>
{%endfor%}
<div class="row">
  {%for valor in tablita2%}
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {%if valor == "datatable4"%} Productos listos para subir a Mercado Libre
        {%elif valor == "datatable5"%} SKU's para correr en UploadSpider
        {%endif%}
      </div>
      <div class="card-body">
        <table id="{{valor}}" class="display">
          <thead>
            <tr>
              <th>Cuenta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fashion</td>
              <td>
                {%if valor == "datatable4"%} 
                {{listaFashion.21}} 
                {%elif valor == "datatable5"%} 
                {{listaFashion.22}} 
                {%endif%}
              </td>
            </tr>
            <tr>
              <td>Kids</td>
              <td>
                {%if valor == "datatable4"%}
                {{listaKids.21}}
                {%elif valor == "datatable5"%} 
                {{listaKids.22}} 
                {%endif%}
              </td>
            </tr>
            <tr>
              <td>BeautyHealth</td>
              <td>
                {%if valor == "datatable4"%}
                {{listaBeautyHealth.21}}
                {%elif valor == "datatable5"%} 
                {{listaBeautyHealth.22}} {%endif%}
              </td>
            </tr>
            <tr>
              <td>HouseHome</td>
              <td>
                {%if valor == "datatable4"%}
                {{listaHouseHome.21}}
                {%elif valor == "datatable5"%}
                {{listaHouseHome.22}}
                {%endif%}
              </td>
            </tr>
            <tr>
              <td>Electro</td>
              <td>
                {%if valor == "datatable4"%}
                {{listaElectro.21}}
                {%elif valor == "datatable5"%}
                {{listaElectro.22}}
                {%endif%}
              </td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript">
          $(document).ready(function () {
            $("#{{valor}}").DataTable({});
          });
        </script>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}