{%extends 'dash/layout.html'%}
{%load static%}
{% load mathfilters %}
{%block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12"><h1 class="text-center pt-2">DATOS DE TIENDAS</h1></div>
    <div class="col-12 my-3">
      <div id="container"></div>
    </div>
    <div class="col-12">
      <div id="container6"></div>
    </div>
  </div>
</div>
<script type="application/javascript">
  Highcharts.chart("container", {
    chart: {
      type: "column",
    },
    title: {
      text: "Reporte de Tiendas (Actualizados)",
    },
    subtitle: {
      text: "Mercado Libre",
    },
    xAxis: {
      categories: [
        "Fashion",
        "Kids",
        "BeautyHealth",
        "HouseHome",
        "Electro",
      ],
      crosshair: true,
    },
    yAxis: {
      min: 0,
      title: {
        text: "Productos Actualizados (PA)",
      },
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat:
        '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} PA</b></td></tr>',
      footerFormat: "</table>",
      shared: true,
      useHTML: true,
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0,
      },
    },
    series: [
      {
        name: "6pm",
        data: [
          {{FashionAllArr.7}}, {{KidsAllArr.8}}, {{BeautyHealthAllArr.8}}, {{HouseHomeAllArr.8}}, {{ElectroAllArr.8}},
        ],
      },
      {
        name: "Amazon",
        data: [
          {{FashionAllArr.9}}, {{KidsAllArr.9}}, {{BeautyHealthAllArr.9}}, {{HouseHomeAllArr.9}}, {{ElectroAllArr.9}},
        ],
      },
      {
        name: "Ebay",
        data: [
          {{FashionAllArr.10}}, {{KidsAllArr.10}}, {{BeautyHealthAllArr.10}}, {{HouseHomeAllArr.10}}, {{ElectroAllArr.10}},
        ],
      },
      {
        name: "Footlocker",
        data: [
          {{FashionAllArr.11}}, {{KidsAllArr.11}}, {{BeautyHealthAllArr.11}}, {{HouseHomeAllArr.11}}, {{ElectroAllArr.11}},
        ],
      },
      {
        name: "Nike",
        data: [
          {{FashionAllArr.12}}, {{KidsAllArr.12}}, {{BeautyHealthAllArr.12}}, {{HouseHomeAllArr.12}}, {{ElectroAllArr.12}},
        ],
      },
      {
        name: "Zappos",
        data: [
          {{FashionAllArr.13}}, {{KidsAllArr.13}}, {{BeautyHealthAllArr.13}}, {{HouseHomeAllArr.13}}, {{ElectroAllArr.13}},
        ],
      },
    ],
  });
</script>
<script type="application/javascript">
  Highcharts.chart("container2", {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: "pie",
    },
    title: {
      text: "Productos",
    },
    tooltip: {
      pointFormat: "{series.name}: <b>{point.y}</b><br>",
    },
    accessibility: {
      point: {
        valueSuffix: "%",
      },
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: "pointer",
        dataLabels: {
          enabled: true,
          format: "<b>{point.name}</b>: {point.percentage:.1f} %",
        },
      },
    },
    series: [
      {
        name: "Cantidad",
        colorByPoint: true,
        data: [
          {
            name: "Actualizados",
            y: {{ElectroAllArr.7}},
            sliced: true,
            selected: true,
          },
          {
            name: "Sin actualizar",
            y: {{ElectroAllArr.14|sub:ElectroAllArr.7}},
          },
        ],
      },
    ],
  });
</script>
<script type="application/javascript">
  var clrs = Highcharts.getOptions().colors;
  var pieColors = [clrs[2], clrs[0], clrs[3], clrs[1], clrs[4]];

  // Get a default pattern, but using the pieColors above.
  // The i-argument refers to which default pattern to use
  function getPattern(i) {
    return {
      pattern: Highcharts.merge(Highcharts.patterns[i], {
        color: pieColors[i],
      }),
    };
  }

  // Get 5 patterns
  var patterns = [0, 1, 2, 3, 4].map(getPattern);

  var chart = Highcharts.chart("container3", {
    chart: {
      type: "pie",
    },

    title: {
      text: "Primary desktop/laptop screen readers",
    },

    subtitle: {
      text: "Source: WebAIM. Click on point to visit official website",
    },

    colors: patterns,

    tooltip: {
      valueSuffix: "%",
      borderColor: "#8ae",
    },

    plotOptions: {
      series: {
        dataLabels: {
          enabled: true,
          connectorColor: "#777",
          format: "<b>{point.name}</b>: {point.percentage:.1f} %",
        },
        point: {
          events: {
            click: function () {
              window.location.href = this.website;
            },
          },
        },
        cursor: "pointer",
        borderWidth: 3,
      },
    },

    series: [
      {
        name: "Screen reader usage",
        data: [
          {
            name: "NVDA",
            y: 40.6,
            website: "https://www.nvaccess.org",
            accessibility: {
              description: "This is the most used desktop screen reader",
            },
          },
          {
            name: "JAWS",
            y: 40.1,
            website:
              "https://www.freedomscientific.com/Products/Blindness/JAWS",
          },
          {
            name: "VoiceOver",
            y: 12.9,
            website: "http://www.apple.com/accessibility/osx/voiceover",
          },
          {
            name: "ZoomText",
            y: 2,
            website:
              "http://www.zoomtext.com/products/zoomtext-magnifierreader",
          },
          {
            name: "Other",
            y: 4.4,
            website:
              "http://www.disabled-world.com/assistivedevices/computer/screen-readers.php",
          },
        ],
      },
    ],

    responsive: {
      rules: [
        {
          condition: {
            maxWidth: 500,
          },
          chartOptions: {
            plotOptions: {
              series: {
                dataLabels: {
                  format: "<b>{point.name}</b>",
                },
              },
            },
          },
        },
      ],
    },
  });

  // Toggle patterns enabled
  document.getElementById("patterns-enabled").onclick = function () {
    chart.update({
      colors: this.checked ? patterns : pieColors,
    });
  };
</script>
<script type="application/javascript">
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    // Build the chart
    Highcharts.chart('container4', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market shares in January, 2018'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Share',
            data: [
                { name: 'Chrome', y: 61.41 },
                { name: 'Internet Explorer', y: 11.84 },
                { name: 'Firefox', y: 10.85 },
                { name: 'Edge', y: 4.67 },
                { name: 'Safari', y: 4.18 },
                { name: 'Other', y: 7.05 }
            ]
        }]
    });
</script>
<script type="application/javascript">
          // Make monochrome colors
  var pieColors = (function () {
      var colors = [],
          base = Highcharts.getOptions().colors[0],
          i;

      for (i = 0; i < 10; i += 1) {
          // Start out with a darkened base color (negative brighten), and end
          // up with a much brighter color
          colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
      }
      return colors;
  }());

  // Build the chart
  Highcharts.chart('container5', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
      },
      title: {
          text: 'Browser market shares at a specific website, 2014'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
          point: {
              valueSuffix: '%'
          }
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              colors: pieColors,
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                  distance: -50,
                  filter: {
                      property: 'percentage',
                      operator: '>',
                      value: 4
                  }
              }
          }
      },
      series: [{
          name: 'Share',
          data: [
              { name: 'Chrome', y: 61.41 },
              { name: 'Internet Explorer', y: 11.84 },
              { name: 'Firefox', y: 10.85 },
              { name: 'Edge', y: 4.67 },
              { name: 'Safari', y: 4.18 },
              { name: 'Other', y: 7.05 }
          ]
      }]
  });
</script>
<script type="application/javascript">
Highcharts.chart('container6', {

    title: {
        text: 'Productos Subidos a Mercado Libre'
    },

    subtitle: {
        text: 'Por Tiendas'
    },

    yAxis: {
        title: {
            text: 'Productos Subidos'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Por horas'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },

    series: [{
        name: 'Fashion',
        data: [{{FashionAllArr.14}}, {{FashionAllArr.38}},{{FashionAllArr.62}},{{FashionAllArr.86}}, {{FashionAllArr.110}},{{FashionAllArr.134}}]
    }, {
        name: 'Kids',
        data: [{{KidsAllArr.14}}, {{KidsAllArr.38}},{{KidsAllArr.62}},{{KidsAllArr.86}}, {{KidsAllArr.110}},{{KidsAllArr.134}}]
    }, {
        name: 'BeautyHealth',
        data: [{{BeautyHealthAllArr.14}}, {{BeautyHealthAllArr.38}},{{BeautyHealthAllArr.62}},{{BeautyHealthAllArr.86}}, {{BeautyHealthAllArr.110}},{{BeautyHealthAllArr.134}}]
    }, {
        name: 'HouseHome',
        data: [{{HouseHomeAllArr.14}}, {{HouseHomeAllArr.38}},{{HouseHomeAllArr.62}},{{HouseHomeAllArr.86}}, {{HouseHomeAllArr.110}},{{HouseHomeAllArr.134}}]
    }, {
        name: 'Electro',
        data: [{{ElectroAllArr.14}}, {{ElectroAllArr.38}},{{ElectroAllArr.62}},{{ElectroAllArr.86}}, {{ElectroAllArr.110}},{{ElectroAllArr.134}}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
{%endblock%}
